
<div class="container">
  <mat-form-field>
    <input matInput placeholder="First Name" required />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last Name" required />
  </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" required />
    </mat-form-field>
</div>

<div style="text-align: left">
                   <mat-form-field style="margin: 20px;width:70px;" >
                <input matInput type="number" >
            </mat-form-field>

    <mat-form-field >
            <input matInput required >
        </mat-form-field>
    </div>
